
/* not used, just here for safekeeping. */

/* Responsive SVG */
.svg-container-square {
    display: inline-block;
    position: relative;
    width: 90%;
    padding-bottom: 70%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-container-wide {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 40%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
